<div id="skills" class="section">
  <h4>Skills</h4>
  <div class="flex-container">
    <div class="items-container">
      <h5>Web Development</h5>
      <p class="item-paragraph">As a web developer I want to be. I need to understand how all of the components involved in a web application work.</p>
      <p class="item-paragraph">Web applications are normally made up of a database, a backend and a frontend.</p>
      <p class="item-paragraph">This componets requires to understand how to use all the languages and frameworks that are made of.</p>
      <p class="item-paragraph">I am currently working with these components:</p>
      <div class="item-images-container">
        <img src="images/postgre.png" alt="">
        <img src="images/spring.svg" alt="">
        <img src="images/angular.png" alt="">
      </div>
    </div>
    <div class="items-container">
      <h5>Cybersecurity</h5>
    </div>
    <div class="items-container">
      <h5>Soft Skills</h5>
    </div>
  </div>
</div>
