<div id="skills" class="section">
  <h4>Skills</h4>
  <div class="flex-container">
    <div class="items-container">
      <h5>Web Development</h5>
      <p class="item-paragraph">As a web developer I want to be. I need to understand how all of the components involved in a web application work.</p>
      <p class="item-paragraph">Web applications are normally made up of a database, a backend and a frontend.</p>
      <p class="item-paragraph">This componets requires to understand how to use all the languages and frameworks that are made of.</p>
      <p class="item-paragraph">I am currently working with these components:</p>
      <div class="item-images-container">
        <img src="images/postgre.png" alt="">
        <img src="images/spring.svg" alt="">
        <img src="images/angular.png" alt="">
      </div>
    </div>
    <div class="items-container">
      <h5>Cybersecurity</h5>
      <p class="item-paragraph">It is necessary to have knowledge about cybersecurity to protect the developed applications and users.</p>
      <p class="item-paragraph">When developing applications, it is necessary to respect the legislation and ensure that all the data stored is protected against attacks and threats.</p>
      <p class="item-paragraph">Staying up to date with cybersecurity risks and maintaining the best security measures throughout the software development lifecycle are some of my key concerns.</p>
      <div class="item-images-container">
        <img src="images/jwt.svg" alt="">
        <img src="images/owasp.png" alt="">
        <img src="images/kali.png" alt="">
      </div>
    </div>
    <div class="items-container">
      <h5>Other Skills</h5>
      <p class="item-paragraph">Throughout my training I have acquired knowledge and skills in a wide variety of different fields.</p>
      <p class="item-paragraph">These fields involve the use of different technologies and programming languages ​​that have improved my ability to easily adapt to any work environment.</p>
      <p class="item-paragraph">This is one of my soft skills, in addition to it, I consider my decision-making capacity and my willingness to help others at any time relevant when working in any work team.</p>
    </div>
  </div>
</div>
