<div id="projects" class="section">
  <h4>Projects</h4>
  <div class="flex-container">
    <div class="items-container">
      <img src="images/hrapp.png" alt="">
      <p class="item-paragraph">HRApp is a web application that aims to help with human resources administration and recording the working hours of company employees.</p>
      <p class="item-paragraph">The application is built from scratch and mainly consists of a MySQL database, a backend implemented with Spring and the application developed with Angular.</p>
    </div>
    <div class="items-container">
      <img src="images/snapmap.png" alt="">
      <p class="item-paragraph">SnapMapp is an Android application that consists of a social network where you can share images about the place you are with your friends.</p>
      <p class="item-paragraph">It is a social network that offers alternatives to the infinite scrolling of other applications by offering an interactive map that positively influences the user's mind.</p>
    </div>
  </div>
</div>
